body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.erreur {
  font-size: 2rem;
  color: #ec7979;
  text-align: center;
  margin: 5rem 10rem 0 0;
}
